.anchorPane {
	-fx-background-color: #FDB62D;
}

.menuBar {
	 -fx-font-weight: bold;
}


.text-field{
}

.botaoCaractereLargo {
	-fx-background-radius: 0;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color:#100A13;
}

.botaoCaractereCurto {
	-fx-font-weight: bold;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	-fx-background-color:#100A13;
}

.botaoAcao {
	-fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-background-radius: 0;
	-fx-background-color: #4A5604;
}

